.idea/
*.iml
.gradle/
build/
logs/
*.log
target/
application.properties
application.yml

# Eclipse metadata
.classpath
.project
.settings/

# application.properties をGit管理対象外にする
src/main/resources/application.properties